@import 'tailwindcss';
@theme {
  --font-header: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-label: 'Source Sans 3', sans-serif;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
